[Desktop Entry]
Name=Liri Calculator
Name[ar]=حاسبة ليري
Name[da]=Liri Lommeregner
Name[fr]=Calculatrice Liri
Name[it]=Calcolatrice Liri
Name[lt]=Liri skaičiuotuvas
Name[nl]=Liri Rekenmachine
Name[pl]=Kalkulator Liri
Name[pt_BR]=Liri Calculator
Name[ru]=Калькулятор Liri
Name[tr]=Liri Hesap Makinesi
Name[zh_CN]=Liri 计算器
GenericName=Calculator
GenericName[ar]=الحاسبة
GenericName[da]=Lommeregner
GenericName[fr]=Calculatrice
GenericName[it]=Calcolatrice
GenericName[lt]=Skaičiuotuvas
GenericName[nl]=Rekenmachine
GenericName[pl]=Kalkulator
GenericName[pt_BR]=Calculadora
GenericName[ru]=Калькулятор
GenericName[tr]=Hesap Makinesi
GenericName[zh_CN]=计算器
Comment=Perform arithmetic and scientific calculations
Comment[ar]=إجراء عمليات حسابية و علمية
Comment[da]=Udfør aritmetiske og videnskabelige udregninger
Comment[fr]=Effectuer des calculs arithmétiques et scientifiques
Comment[it]=Esegui calcoli aritmentici e scientifici
Comment[lt]=Atlikti aritmetinius ir mokslinius skaičiavimus
Comment[nl]=Voer rekenkundige en wetenschappelijke berekeningen uit
Comment[pl]=Wykonaj obliczenia arytmetyczne i naukowe
Comment[pt_BR]=Execute cálculos aritméticos e científicos
Comment[ru]=Проведение арифметических и инженерных расчетов
Comment[tr]=Aritmetik ve bilimsel hesaplamalar gerçekleştir
Comment[zh_CN]=执行算术和科学计算
Keywords=calculation;arithmetic;scientific;
Keywords[da]=udregning;aritmetiske;videnskabelige;
Keywords[it]=calcolo;aritmentico;scientifico
Keywords[lt]=skaičiuotuvas;aritmetinis;mokslinis;
Keywords[pt_BR]=cálculo;aritmética;científica;
Keywords[ru]=calculation;arithmetic;scientific;
Keywords[tr]=hesaplama;aritmetik;bilimsel;
Exec=liri-calculator
Icon=io.liri.Calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=X-Liri;Qt;Utility;Calculator;
